@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@200&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #252a32;
  background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 30px 30px 200px 30px;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.nunun{
  padding: 65px 30px 200px 30px;
}

.section.back-section
{
  z-index: 1;

}
.section.active{
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}
@keyframes slideSection
{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}

.hidden {
  display: none !important;
}

.main-content {
  padding-left: 270px;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  
  
}

.section .container {
  padding-top: 50px;
  padding-bottom: 5px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2{
  font-size: 50px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.section-title h2::before{
  content: '';
  height: 4px;
  width: 100px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after{
  content: '';
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  
}
.tititit{
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -30px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}
.shadow-dark{
  box-shadow: 0 0 20px rgba(48,46,77,0.15);
}
.ncwjj {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease;
}

.ncwjj .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.ncwjj .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

.ncwjj .logo a span {
  font-family: 'Poppins', cursive;
  font-size: 40px;
}

.ncwjj .logo a::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  bottom: 0;
  right: 0;

}

.ncwjj .logo a::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  top: 0;
  left: 0;

}

.ncwjj .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.ncwjj .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}
.ncwjj .nav-toggler.open span{
  background-color: transparent;
}
.ncwjj .nav-toggler span::before {
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}
.ncwjj .nav-toggler.open span::before{
  transform: rotate(45deg);
  top: 0;
}
.ncwjj .nav-toggler span::after {
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}
.ncwjj .nav-toggler.open span::after{
  transform: rotate(-45deg);
  top: 0;
}
.ncwjj .nav {
  margin-top: 50px;
}

.ncwjj .nav li {
  margin-bottom: 20px;
  display: block;
}

.ncwjj .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}

.ncwjj .nav li a.active {
  color: var(--skin-color);
}

.ncwjj .nav li a i {
  margin-right: 15px;
}

/* home */
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}

.home .home-info {
  flex: 0 0 60%;
}

h3.hello {
  font-size: 28px;
  margin: 15px 0;
}

h3.hello span {
  font-family: 'Poppins', cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}

h3.my-portfolio {
  font-size: 30px;
  margin: 15px 0;
}

.typing {
  color: var(--skin-color);
}

.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}

.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;

}

.home-img::after {
  content: '';
  position: absolute;
  height: 80px;
  width: 280px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);

  right: 0px;
  bottom: -40px;
}

.home-img::before {
  content: '';
  position: absolute;
  height: 80px;
  width: 280px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left: 0px;
  top: -40px;
}

.home .home-img img {
  margin: auto;
  border-radius: 5px;
  height: 400px;
}
/*About*/
.about .about-content{
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text{
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text h3{
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .about-text h3 span{
  color: var(--skin-color);
}
.about .about-content .about-text p{
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}
.about .about-content .personal-info{
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}
.about .about-content .personal-info .info-item{
  flex: 0 0 50%;
  max-width: 50%;
}
.about .about-content .personal-info .info-item p{
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span{
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}

.about .about-content .skills{
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}
.about .about-content .skills .skill-item{
  flex: 0 0 100%;
  max-width: 100%;

}
.about .about-content .skills .skill-item h5{
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress{
  background-color: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}
.about .about-content .skills .skill-item {
  margin-bottom: 30px;

}
.about .about-content .skills .skill-item .progress-in{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}
.about .about-content .skills .skill-item .skill-percent{
  position: absolute;
  right: 0%;
  color: var(--text-black-900);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}
/*certificate*/



body {
  background-color: #f3ffff;
}
.con {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.cardb {
  width: 30em;
  height: 500px;
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: relative;
}
.cover {
  width: 100%;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -20px;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.avatar img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.content {
  background: #fff;
  min-height: 65%;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom:  10px 0;
}
.ct-text {
  text-align: center;
  line-height: 60px;
  margin-top: 70px;
}

.ct-text p {
  color: #ccc;
}
.ct-text .social button {
  padding: 10px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: #5e5e5e;
  transition: 0.3s;
}
.ct-text .social button:hover {
  background: #000;
  color: #FFF;
}




*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1{
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #444;
  text-align: center;
  
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 250px;
	height: auto;
	border-radius: 10px;
	color: rgb(255, 255, 255);
	font-size: 1.5rem;
}


.back:after{
  position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .4;
    background-color: rgb(0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #000;
      
}

.inner{
  font-size: 15px;
  color: rgb(255, 255, 255);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
    
}
.sp {
  font-size: 15px;
  color: rgb(255, 255, 255);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 90%;
    position: absolute;
    left: -20;
    width: 145%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
           
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          transform: scale(1.2);
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}


.co {
  padding-top: 40px;
  font-size: 20px;
  text-align: center;  
}

.front .inner p:after{
  font-size: 10px;
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}






.slideshow {
  padding-top: 50px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.slides-text-container {
  width: 200px;
}

.slides-container {
  position: relative;
  width: 350px;
  height: 250px;
}

.slide-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transform-origin: center;
  transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
  cursor: pointer;
}
.slide-card img {
  display: block;
  width: 100%;
  
}
.slide-card:nth-child(1) {
  z-index: 10;
  top: 0px;
  transform-origin: top;
  opacity: 1;
transform: scale(1.4);
}




.slide-card:nth-child(2) {
  z-index: 8;
  top: -20px;
  transform-origin: top;
  transform: translateX(-40px);
  opacity: 0.5;
}
.slide-card:nth-child(3) {
  z-index: 7;
  top: -30px;
  transform-origin: top;
  transform: translateX(-60px);
  opacity: 0.4;
}
.slide-card:nth-child(4) {
  z-index: 6;
  top: -40px;
  transform-origin: top;
  transform: translateX(-80px);
  opacity: 0.3;
}
.slide-card:nth-child(5) {
  z-index: 5;
  top: -50px;
  transform-origin: top;
  transform: translateX(-100px);
  opacity: 0.2;
}
.slide-card:nth-child(6) {
  z-index: 4;
  top: -60px;
  transform-origin: top;
  transform: translateX(-120px);
  opacity: 0.1;
}
.slide-card:nth-child(7) {
  z-index: 3;
  top: -70px;
  transform-origin: top;
  transform: translateX(-140px);
  opacity: 0;
}
.slide-card:nth-child(8) {
  z-index: 2;
  top: -80px;
  transform-origin: top;
  transform: translateX(-160px);
  opacity: -0.1;
}
.slide-card:nth-child(9) {
  z-index: 1;
  top: -90px;
  transform-origin: top;
  transform: translateX(-180px);
  opacity: -0.2;
}
.slide-card:nth-child(10) {
  z-index: 0;
  top: -100px;
  transform-origin: top;
  transform: translateX(-200px);
  opacity: -0.3;
}
.slide-card:last-child {
  opacity: 0;
}

.slides-text-container .side-text {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 0.2s;
}
.slides-text-container .side-text.active {
  visibility: visible;
  height: auto;
  opacity: 1;
}



@media (max-width:1199px)
{
 
  .ncwjj
  {
    left: -270px;
  }
  .ncwjj.open{
    left: 0;
  }
  .ncwjj .nav-toggler{
    display: flex;
    left: 30px;
  }
  .ncwjj .nav-toggler.open{
    left: 300px;
  }
  .section{
    left: 0;
  }
  .section.open{
    left: 270px;
  }
  .about .about-content .personal-info .info-item p span{
    display: block;
    margin-left: 0;

  }
}

@media (max-width:991px){
  
  
  .pubg
  {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-info{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img{
    display: flex;
    max-width: 100%;
   margin: auto
    
  }
}
@media (max-width:767px){
  .slideshow,
  .about .about-content .skills,
  .about .about-content .personal-info
  {
    flex: 0 0 100%;
    max-width: 80%;
  }
  .tititit{
    left: 34px;
  }
}


@media (max-width:767px){
  .home 
  {
    flex: 0 0 100%;
    top: -100px;
    bottom: -200px;
  }
  
}
